@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lavender;
}
.open{
    padding: 0.6rem 1.9rem;
    font-size: 19px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #f44d30;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.pop{
    width: 350px;
    background-color: #fff;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);
    visibility: hidden;
    transition: all 0.4s ease;
}
.add{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.pop img{
    width: 60px;
    margin-top: -50px;
}
.pop h2{
    font-size: 32px;
}
.pop p{
    margin: 5px 0 20px;
    font-size: 15px;
    word-wrap: break-word;
    color: #373636;
}
.pop button{
    padding: 0.4rem 2.4rem;
    background-color: #10ba19;
    outline: none;
    border: none;
    color: #fff;
    font-size: 17px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}